.main_chat
  .main_chat__header
    .main_chat__header__left
      .main_chat__header__left__group_name
        グループ名
      .main_chat__header__left__menbers
        メンバー
    .main_chat__header__right
      = link_to 'Edit', '#', class: "main_chat__header__right__edit"
  .main_chat__contents
    .main_chat__contents__nickname
      名前
      .main_chat__contents__nickname--today
        2000/12/3/木曜/11:30:00
    .main_chat__contents__coment
      コメント欄

  .main_chat__form  
    .main_chat__form__coment
      %input{placeholder: "type a message", type: "text", class: "main_chat__form__coment--coment"}
      %label{class: "main_chat__form__coment__image"}
        %input{type: "file", class: "main_chat__form__coment__image__form"}
        = icon('fas fa-image', class:"main_chat__form__coment__image__icon")
    %input{type: "submit", value: "Send", class: "main_chat__form__button"}