.main_chat__contents
  .main_chat__contents__nickname
    = message.user.name
    .main_chat__contents__nickname--today
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .main_chat__contents__coment
    = message.message
