*{
  box-sizing: border-box; 
}
.wrapper{
  display: flex;
  .side_bar{
    &__top{
      width: 300px;
      height: 100px;
      padding: 35px 20px 0;
      background-color: #253141;
      line-height: 40px;
      color: $side_white;
      line-height: 10px;
      &__user{
        float: left;
        font-size: 16px;
        font-weight: bold;
      }
      &__icon{
        float: right;
        color: $side_white;
        padding: 0 4px;
      }
    }
    &__bottom{
      top: 100px;
      padding: 20px 20px 0;
      width: 300px;
      height: calc(100vh - 100px);
      overflow: scroll;
      background-color: #2f3e51;
      &__group{
        &__name{
          font-weight: bold;
          font-size: 15px;
          padding: 0 0 5px 0;
          color: $side_white;
        }
        &__massage{
          font-size: 11px;
          padding: 0 0 40px 0;
          color: $side_white;
        }  
      }
    }
  }

  .main_chat{
    left: 300px;
    width: calc(100vw - 300px);
    &__header{
      height: 100px;
      padding: 35px 40px 0;
      border-bottom: solid #eeeeee;
      display: flex;
      justify-content: space-between;
      &__left{
        &__group_name{
          color: #333333;
          font-size: 20px;
          line-height: 10px;
          padding-bottom: 15px;
        }
        &__menbers{
          color: #999999;
          font-size: 12px;
          line-height: 50px;
        }
      }
      &__right{
        &__edit{
          padding: 15px 20px;
          color: $blue1;
          text-decoration: none;
          border: solid 1px $blue1;
        }
      }
    }
    &__contents{
      top: 100px;
      height: calc(100vh - 180px);
      overflow: scroll;
      &__content{
        padding: 46px 40px 0;
        background-color: #fafafa;
        color: $main_gray;
        position: fixed;
        position: relative;
        &__nickname{
          font-weight: bold;
          font-size: 16px;
          padding-bottom: 10px;
          display: flex;
          &--today{
            padding: 5px 0 0 10px;
            color: #999999;
            font-size: 12px;
          }
        }
        &__coment{
          margin: 0;
          font-size: 14px;
          padding-bottom: 40px;
        }
      }
    }
  }

  .form{
    height: 80px;
    width: calc(100vw - 300px);
    padding: 20px 20px;
    right: 0;
    bottom: 0;
    background-color:#ddd;
    position: fixed;
    &__text{
      padding: 0 10px;
      border-style: none;
      height: 50px;
      width: 90%;
      color: $main_gray;
      position: relative;
    }
    &__mask{
      // height: 50px;
      line-height: 50px;
      &__image{
        font-size: 40px;
        position: absolute;
        right: 150px;
        cursor: pointer;
      }
    }
    &__button{
      margin-left: 15px;
      height: 50px;
      width: 100px;
      color: #eeeeee;
      background-color: $blue1;
      cursor: pointer;
    }
  }
}

.hidden{
  display:none;
}

.new_message{
  display:flex
}
