$blue1: #38aef0;
$side_white: #ffffff;
$main_gray: #434A54;

@import "./reset";
@import "./index";
@import "./user";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./flash_mes_color";
@import "./flash_mes";
@import "./group";
